<div class="social"><ul>
  <li><a href="{{ site.author.facebook }}" target="_blank"><i class="icon socicon-facebook"></i></a></li>
  <li><a href="{{ site.author.linkedin }}" target="_blank"><i class="icon socicon-linkedin"></i></a></li>
  <li><a href="{{ site.author.xing }}" target="_blank"><i class="icon socicon-xing"></i></a></li>  
  <li><a href="{{ site.author.github }}" target="_blank"><i class="icon socicon-github"></i></a></li>
</ul>
<a  href="mailto:{{ site.author.email }}"><i class="icon socicon-mail"></i> {{ site.author.email }}</a></div>